<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938755094442-kf0p9ruf94bbue0v9e92n291ck3gi6vs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938755094442-kf0p9ruf94bbue0v9e92n291ck3gi6vs</string>
	<key>API_KEY</key>
	<string>AIzaSyC3NtL7GeM7nmBB4L6o3cvG1t9vhDDu0zA</string>
	<key>GCM_SENDER_ID</key>
	<string>938755094442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.com.tejate.zeuz-ios</string>
	<key>PROJECT_ID</key>
	<string>teststorage-2dd90</string>
	<key>STORAGE_BUCKET</key>
	<string>teststorage-2dd90.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938755094442:ios:41dbfc201169fd45b85dd3</string>
</dict>
</plist>